body{
  background-color:linen;
}

.form{
  display: flex;
  height:600px;
  width:300px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}

.form .field{
  margin-bottom: 10px;
}
